/* compra.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #000000;
}

div {
    width: 50%;
    margin: 0 auto;
    /* Centrar el div horizontalmente */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    text-align: center;
}

label {
    display: block;
    margin: 5px 0;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
    margin: 7px auto;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 14px;
    width: 80%;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #000000; /* Borde solo en la parte inferior */
    border-radius: 0; /* Asegura que no haya bordes redondeados */
    box-sizing: border-box;
    display: inline-block; /* Mostrar como una línea */
}

.lin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Alinea verticalmente los elementos en el centro si tienen alturas diferentes */
}

.lint-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lint-items li {
    margin-right: 10px;
    /* Agrega espacio entre los elementos si es necesario */
}

button {
    background-color: #333;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #555;
}

a {
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    background-color: #555;
}