{% extends 'Tienda/base.html' %}
{% load static %}

{% block title %} Pagina Principal | Mi sitio web {% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'Tienda/css/ropa.css' %}">
<link rel="stylesheet" href="{% static 'Tienda/css/productos.css' %}">
{% endblock %}

{% block content %}
<!-- Mostrar lista de Productos -->
<h1 style="margin: 150px;">Productos para Mujeres</h1>
<section class="productos">
    {% for elemento in productos %}
    {% if elemento.genero == 'M' %}
    <article>
        <h3>{{ elemento.nombre }}</h3>
        <p>{{ elemento.descripcion }}</p>
        {% if elemento.imagen %}
        <img src="{{ elemento.imagen.url }}" alt="">
        {% else %}
        <p>No hay imagen disponible</p>
        {% endif %}
        <div class="precio">
            <button><a style="text-decoration: none;color: #000;" href="{% url 'compra' %}">Pedido</a></button>
            <h3>$ {{ elemento.precio }}</h3>
        </div>
    </article>
    {% endif %}
    {% endfor %}
</section>

{% endblock %}