{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario | Ropa en Linea</title>
    <link rel="stylesheet" href="{% static 'Tienda/css/register/register.css' %}">
    <link rel="stylesheet" href="{% static 'Tienda/css/ropa.css' %}">

</head>

<body>

    <header>
        <nav class="nav">

            <div class="logo">
                <a class="fashion-style" href="{% url 'home' %}">Fashion Style</a>
            </div>

            <div class="nav-menu">

                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="menu-icon">
                        <img src="{% static 'Tienda/img/menu.png' %}" alt="error">
                    </i>
                </label>
                <ul class="menu">
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'contacto' %}">Contactos</a></li>
                    <li><a href="{% url 'login' %}">Iniciar Seción</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- script para la barra de navegacion -->
    <!-- <div class="scrol">
    </div> -->

    <script src="{% static 'Tienda/js/menu.js' %}"></script>

    <!-- Formulario -->
    <div style="margin-top: 120px;" class="contenedor">

        <form method="post" action="">
            <fieldset>
                <legend>
                    <h2>Registro de Usuario</h2>
                </legend>
                {% csrf_token %}
                {{ form }}

                <br>
                <button type="submit">Registrarse</button>
            </fieldset>
        </form>

    </div>

</body>

</html>